[{:貸方 :売上 :借方 :売掛金 :comment "L社10月分(税込)" :date #inst "2017-10-31" :amount 259200}
 {:貸方 :売掛金 :借方 :源泉徴収 :comment "L社10月分 源泉聴取" :date #inst "2017-11-30" :amount 24508}
 {:貸方 :売掛金 :借方 :事業主貸    :comment "L社10月分支払い" :date #inst "2017-11-30" :amount 234692}
 {:貸方 :売上 :借方 :売掛金 :comment "L社11月分(税込)" :date #inst "2017-11-30" :amount 259200}
 {:貸方 :売掛金 :借方 :源泉徴収 :comment "L社11月分 源泉聴取" :date #inst "2017-12-30" :amount 24508}
 {:貸方 :売掛金 :借方 :事業主貸    :comment "L社11月分支払い" :date #inst "2017-12-30" :amount 234692}]
